[mysql]
user = "{{ mysql_dba_user }}"
password = "{{ mysql_dba_password }}"
socket = "{{ mysql_socket_file }}"

[mysqladmin]
user = "{{ mysql_dba_user }}"
password = "{{ mysql_dba_password }}"
socket = "{{ mysql_socket_file }}"
